:root {
    --Linear: linear-gradient(90deg, #2036FF 0%, #C348B0 90%);
}

#root {
    position: relative;
}

body, html {
    scroll-behavior: smooth;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    overflow-x: hidden;
    max-width: 100%;
}

a {
    all: unset;
}

svg {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.project-svg, .project-png {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

/* ----- LOADING SPINNER ----- */
.spinner-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.spinner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 56px;
    width: 56px;
    box-sizing: border-box;
    background: conic-gradient(
            from 90deg at 50% 50%,
            #C348B0  0%,
            #2036FF 100%
    );

    border-radius: 56px;
    animation: 1.5s rotate infinite linear;
}

.spinner::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 48px;
}

.spinner::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    width: 8px;
    background: #2036FF 100%;
    border-radius: 8px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* ---- END -----*/

.nav-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    z-index: 999;
    position: fixed;
    background: rgb(255, 255, 255, 0%);
}

.nav-buttons-grid {
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 6.5rem 8rem 11rem 8rem;
    margin-right: 2.5rem;
}

.nav-btn {
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    position: relative;
    justify-self: center;
}

.nav-btn.home {
    grid-column: 1;
}

.nav-btn.portfolio {
    grid-column: 2;
}

.nav-btn.experience {
    grid-column: 3;
}

.nav-btn.contact {
    grid-column: 4;
}

.nav-icon {
    position: absolute;
    display: none;
}

.nav-icon.home {
    left: -1.8rem;
}

.nav-icon.portfolio {
    left: -1.5rem;
}

.nav-icon.experience {
    left: -2rem;
}

.nav-icon.contact {
    left: -1.7rem;
}

.nav-underline {
    display: none;
}

.nav-btn.active, .nav-btn:hover {
    background: var(--Linear, linear-gradient(90deg, #2036FF 0%, #C348B0 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    .nav-icon {
        display: block;
    }
}

.main-background {
    z-index: 0;
    height: fit-content;
}

.ornaments-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.ellipse-ornament {
    border-radius: 100%;
    flex-shrink: 0;
    filter: blur(200px);
    position: absolute;
}

.ellipse-ornament.a {
    width: 211px;
    height: 211px;
    background-color: rgb(19, 32, 153);
    top: -15px;
    left: -20px;
}

.ellipse-ornament.b {
    width: 517px;
    height: 517px;
    background: rgba(19, 32, 153, 0.60);
    top: -240px;
    left: -500px;
}

.ellipse-ornament.c {
    width: 414px;
    height: 414px;
    background: rgb(195, 72, 176);
    top: 541px;
    right: -250px;
}

.ellipse-ornament-d {
    width: 288px;
    height: 288px;
    background: rgba(19, 32, 153, 0.60);
    top: 483px;
    right: -250px;
}

.welcome-section {
    height: 30rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-wrapper {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    display: grid;
    grid-template-rows: max-content max-content max-content;
    justify-content: center;
    align-items: center;
    width: 43rem;
    padding-top: 12rem;
}

.welcome-p {
    grid-row: 1;
    font-size: 4rem;
    font-weight: 600;
    background: var(--Linear, linear-gradient(90deg, #2036FF 0%, #C348B0 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    text-align: center;
}

.ux-ui-p {
    grid-row: 2;
    color: #000;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin: 0 40px 0 0;
}

.junior-span {
    color: #C348B0;
    font-size: 1.5rem;
}

.self-description {
    color: #000;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.068px;
    padding-top: 15px;
}

.portfolio-header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 7.5rem;
}

.portfolio-header {
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.portfolio-span {
    background: var(--Linear, linear-gradient(90deg, #2036FF 0%, #C348B0 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.down-anim-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    animation: moveUpDown 0.6s ease-in-out infinite alternate;
}

.down-arrow {
    width: 60%;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(15px);
    }
}

.portfolio-content-section {
    display: flex;
    justify-content: center;
}

.portfolio-projects-grid {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 150px;
}

.portfolio-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-photo-wrapper {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.photo-container {
    position: relative;
    cursor: pointer;
}

.project-photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
    font-size: 1.2rem;
    color: #FFF;

}

.photo-container:hover .project-photo-overlay {
    opacity: 1;
}

.portfolio-project-photo {
    background-size: cover;
    background-position: center;
    max-width: 27.4rem;
    max-height: 18rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.portfolio-project-text {
    grid-column: 2;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
}

.project-name {
    color: #000;
    font-size: 2rem;
    margin-top: 19px;
    margin-bottom: 4px;
}

.project-subtitle {
    color: #C348B0;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 16px;
}

.project-description {
    color: #000;
    font-size: 1rem;
    margin-bottom: 30px;
    max-width: 35rem;
}

.see-more-wrapper {
    display: flex;
    align-items: center;
}

.see-more-button {
    cursor: pointer;
    background: none;
    border: 0;
    color: #000;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.042px;
    display: flex;
    align-items: center;
    padding: 0;
}

.see-more-button.active, .see-more-button:hover {
    background: var(--Linear, linear-gradient(90deg, #2036FF 0%, #C348B0 80%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.arrow-icon-wrapper {
    margin-top: 5px;
    transition: transform 0.3s ease;
}

.see-more-button:hover .arrow-icon-wrapper {
    transform: translateX(15px);
}

.experience-section {
    margin-top: 8rem;
    margin-bottom: 10.2rem;
    width: 100%;
    height: 37rem;
    background: rgba(78, 85, 201, 0.05);
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    line-height: normal;
    display: grid;
    grid-template-rows: max-content max-content max-content;
}

.experience-p {
    padding-top: 9.6rem;
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(90deg, #2036FF 4%, #C348B0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 0.5rem;
}

.experience-description {
    text-align: center;
    justify-self: center;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 56rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.experience-brands-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10rem;
    margin-top: 1rem;
}

.experience-brand {
    background-size: cover;
    background-position: center;
    max-width: 14rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.brand-wrapper {
    display: flex;
    align-items: center;
}

.brand-wrapper.a {
    grid-column: 1;
    justify-content: flex-end;
    padding-left: 1.5rem;
}

.brand-wrapper.b {
    grid-column: 2;
    justify-content: flex-start;
    padding-right: 1.5rem;
}

.contact-section {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    line-height: normal;
    padding-bottom: 12.7rem;
    position: relative;
}

.contact-p {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(90deg, #2036FF 0%, #C348B0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}

.contact-msg-p {
    color: #000;
    text-align: center;
    justify-self: center;
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 40.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.contact-buttons-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4vw;
    margin-top: 1rem;
}

.contact-button-frame {
    display: grid;
    align-items: center;
    justify-self: center;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
}

.contact-button-frame.phone {
    grid-column: 1;
}

.contact-button-frame.email {
    grid-column: 2;
}

.contact-button-frame.linkedin {
    grid-column: 3;
}

.contact-icon {
    padding: 5px;
    justify-self: center;
}

.contact-icon-text {
    padding-top: 0.9rem;
    font-size: 1rem;
    font-weight: 600;
    justify-self: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    color: #757575;
    font-family: "Quicksand", sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ekosort-grid {
    display: grid;
    grid-template-rows: 2.5rem 1fr;
    height: 100%;
}

.ekosort-navigation-container {
    width: 100%;
    position: fixed;
    grid-row: 1;
    height: 2.5rem;
    background: #FFF;
}

.ekosort-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

.nav-tab {
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-tab:hover, .nav-tab.active {
    background-color: #F8F8F8;
    background: var(--Linear, linear-gradient(90deg, #2036FF 0%, #C348B0 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-tab.hi-fi {
    grid-column: 1;
}

.nav-tab.hi-fi:hover, .nav-tab.hi-fi.active {
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
    color: var(--Linear);
}

.nav-tab.research {
    grid-column: 2;
}

.nav-tab.research:hover, .nav-tab.research.active {
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
}

.nav-tab.ideate {
    grid-column: 3;
}

.nav-tab.ideate:hover, .nav-tab.ideate.active {
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
}

.project-part {
    grid-row: 2;
}

@media (max-width: 1000px) {
    .nav-text {
        display: none;
    }

    .nav-icon {
        position: relative !important;
        display: inline-block;
    }

    .nav-btn:hover {
        .nav-underline {
            display: none;
        }
    }

    .nav-btn.active  {
        .nav-underline {
            justify-self: center;
            display: block;
            position: absolute;
            width: 9px;
            top: 25px;
            height: 2px;
            background: var(--Linear, linear-gradient(90deg, #2036FF 0%, #C348B0 100%));
            border-radius: 100px;
        }

        .nav-underline.home {
            left: 7px;
        }

        .nav-underline.portfolio {
            left: 3px;
        }

        .nav-underline.experience {
            left: 8px;
        }

        .nav-underline.contact {
            left: 8px;
        }
    }

    .nav-icon.home {
        left: 0;
    }

    .nav-icon.portfolio {
        left: 0;
    }

    .nav-icon.experience {
        left: 0;
        top: 2px;
    }

    .nav-icon.contact {
        left: 0;
    }

    .nav-buttons-grid {
        grid-template-columns: 3rem 3rem 3rem 3rem;
        margin-right: 1rem;
    }

    .portfolio-projects-grid {
        row-gap: 80px;
    }

    .portfolio-project {
        grid-template-columns: 1fr;
    }

    .portfolio-project-text {
        grid-column: 1 !important;
        max-width: 27.4rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-top: 1rem;
    }

    .project-photo-wrapper {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .self-description {
        font-size: 1rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }

    .experience-brands-grid {
        column-gap: 2.3rem !important;
    }
}

@media (max-width: 700px) {
    .contact-buttons-grid {
        grid-template-columns: 1fr;
    }

    .contact-button-frame.phone {
        grid-column: 1;
    }

    .contact-button-frame.email {
        grid-column: 1;
    }

    .contact-button-frame.linkedin {
        grid-column: 1;
    }
}

@media (max-width: 500px) {
    .ellipse-ornament.a {
        display: none;
    }

    .ellipse-ornament.b {
        display: none;
    }

    .ellipse-ornament.c {
        top: 441px;
        right: -300px;
    }

    .ellipse-ornament.d {
        top: 383px;
        right: -300px;
    }

    .welcome-p {
        font-size: 2.5rem;
    }

    .ux-ui-p {
        font-size: 1.6rem;
        margin-left: 20px;
    }

    .junior-span {
        font-size: 1rem;
    }

    .portfolio-span {
        font-size: 1.3rem;
    }

    .contact-p {
        font-size: 1.5rem;
    }

    .contact-msg-p {
        font-size: 0.85rem;
    }

    .contact-icon {
        width: 3rem;
        height: 3rem;
    }

    .contact-icon-text {
        font-size: 0.85rem;
    }

    .experience-p {
        font-size: 1.5rem;
    }

    .experience-description {
        font-size: 0.85rem;
    }

    .experience-brand {
        width: 80%;
    }
}

@media (hover: none) and (pointer: coarse) {
    .nav-underline {
        display: none;
    }
}